
    <%- include('../partials/__header') %>
    <div class="info">
      <h3>Here are the skills currently activated:</h3>
      <ul>
      <% skills.forEach(function(s) { %>
        <li>
          <%= s.skill %>
          --
          <a href="/skills/<%= s.id %>">Click for details</a>
        </li>
      <%  }); %>
      <br>
      <a href="/skills/new">
        <button class="button">
          Add Another Skill
        </button>
      </a>
    </div>
      </ul>

    <%- include('../partials/__footer') %>
