    <%- include('../partials/__header') -%>
    <div class="info">

      <h3>Skills information for: <em><%= skill.skill %></em></h3>
      <div class="description">
        <em><%= skill.description %></em>
      </div>
    </div>
    <%- include('../partials/__footer') -%>
