    <% title = 'What is this page for?' %>
    <%- include('partials/__header') -%>
    <div class="info">
      <h3>Welcome to the index page!</h3>
      <h3>Right now I'm not using this for some reason?</h3>

    </div>
    <%- include('partials/__footer') -%>
