body {
  min-height: 100vh;
}
ul {
  text-align: center;
  margin: 45px auto;
  padding-bottom: 25vh;
  list-style-type: none;
}
h3 {
  text-align: center;
  margin: 10vh auto;
  font-size: 1.75em;
}
li {
  font-size: 1.5em;
}
a {
  align-items: center;
  text-decoration: none;
}
a:link, a:visited {
  text-decoration: none;
}
.info {
  height: 80vh;
}
footer {
  text-align: center;
  max-height: 8vh;
}
.mdl-mini-footer {  .mdl-mini-footer {
  align-items: center;
}
blockquote {
  text-align: center;
}
